{{!-- {{#if loggedIn}} --}}
<section>
    <h2>Add a Dog</h2>

    <form class="new-dog-form">
        <div>
            <label for="dog-name">Dog Name</label>
            <input type="text" id="dog-name" name="dog-name" />
        </div>
        {{!-- photo upload will go here, need to figure out first --}}
        {{!-- dog breed? --}}
        <div>
            {{!-- match based on this characteristic --}}
            <p>This Dog is (select one):</p>
            <input type="radio" id="high-energy" name="dog-energy" value="high-energy">
            <label for="high-energy">High Energy</label><br>
            <input type="radio" id="in-between" name="dog-energy" value="in-between">
            <label for="in-between">In Between</label><br>
            <input type="radio" id="mellow" name="dog-energy" value="mellow">
            <label for="mellow">Mellow</label><br>
        </div>
        {{!-- ask these questions, but don't match yet --}}
        <div>
            <p>This Dog is vaccinated (select one):</p>
            <input type="radio" id="yes-vacc" name="dog-vacc" value="yes">
            <label for="yes">Yes</label><br>
            <input type="radio" id="some-vacc" name="dog-vacc" value="some">
            <label for="some">Some</label><br>
            <input type="radio" id="no-vacc" name="dog-vacc" value="no">
            <label for="no">No</label><br>
        </div>
        {{!-- Does your dog like going to dog parks or would rather have a play date at home? --}}
        <div>
            <p>Would you like to have any interaction with this dogs human during the play date?</p>
            <input type="radio" id="yes-human" name="interaction" value="yes">
            <label for="yes">Yes</label><br>
            <input type="radio" id="some-human" name="interaction" value="some">
            <label for="some">Some</label><br>
            <input type="radio" id="no-human" name="interaction" value="no">
            <label for="no">No</label><br>
        </div>
        <br>
        <button type="submit">Submit</button>
    </form>
</section>

<script src="/javascript/add-dog.js"></script>
{{!-- {{/if}} --}}
