<section>
    <h2>Add a Dog</h2>

    <form class="new-dog-form">
        <div>
            <label for="dog-name">Dog Name</label>
            <input type="text" id="dog-name" name="dog-name" />
        </div>
        {{!-- photo upload will go here, need to figure out first --}}
        <div>
            {{!-- match based on this characteristic --}}
            <label for="dog-energetic">My Dog is (select one):</label>
            <input type="radio" id="high-energy" name="my-dog" value="high-energy">
            <label for="high-energy">High Energy</label><br>
            <input type="radio" id="in-between" name="my-dog" value="in-between">
            <label for="in-between">In Between</label><br>
            <input type="radio" id="mellow" name="my-dog" value="mellow">
            <label for="mellow">Mellow</label><br>
        </div>
        {{!-- ask these questions, but don't match yet --}}
        {{!-- is your dog up on it's vaccines? --}}
        {{!-- Does your dog like going to dog parks or would rather have a play date at home? --}}
        {{!-- Would you like Lots, little or no interaction with the other human --}}
        <button type="button" class="add-dog-btn">Submit</button>
    </form>
</section>

{{!-- <script src="/javascript/add-dog.js"></script> --}}
