<section>
    <h2>Add a Dog</h2>

    <form class="new-dog-form">
        <div>
            <label for="dog-name">Dog Name</label>
            <input type="text" id="dog-name" name="dog-name" />
        </div>
        <div>
            <label for="dog-energetic">My Dog is (select one):</label>
            <input type="radio" id="high-energy" name="my-dog" value="high-energy">
            <label for="high-energy">High Energy</label><br>
            <input type="radio" id="in-between" name="my-dog" value="in-between">
            <label for="in-between">In Between</label><br>
            <input type="radio" id="mellow" name="my-dog" value="mellow">
            <label for="mellow">Mellow</label><br>
        </div>
        <button type="button" class="add-dog-btn">Submit</button>
    </form>
</section>

{{!-- <script src="/javascript/add-dog.js"></script> --}}

{{!-- add later: photo upload, vaccinations, where: home play date vs dog park, other dog is:, human interaction: yes or no --}}