<div class="tile is-ancestor is-justify-content-center">
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child box has-background-info">
      <p class="title has-text-centered">
        <a class="has-text-white" href="/dashboard/results">Matches</a>
      </p>
      <div>
        <figure class="image is-4by2">
        <img src="https://static.boredpanda.com/blog/wp-content/uploads/2015/04/dog-best-friends-62__605.jpg" alt="">
      </figure>
      </div>
      
    </div>
    <div class="tile is-child box has-background-info">
      <p class="title has-text-centered">
        <a class="has-text-white" href="/dashboard/new-post">New Doggy Date</a>
      </p>
      <div class="tile is-child box has-background-info is-shadowless">
        <figure>
        <img src="https://tlcah.files.wordpress.com/2017/06/dogs-playing-dog_park.jpg" alt="">
      </figure>
      </div>
      
    </div>
  </div>
</div>
</div>