<div class="tile is-vertical is-8">
    <div class="tile">
        <div class="tile is-parent is-vertical">
            <article class="tile is-child notification is-primary">
                <a href="/dashboard/new-post">New Post</a>
            </article>
            <article class="tile is-child notification is-primary">
                
            </article>
        </div>
        <div class="tile is-parent is-vertical">
            <article class="tile is-child notification is-primary">
                <a href="/dashboard/results">Matches</a>
            </article>
            <article class="tile is-child notification is-primary">
                
            </article>
        </div> 
    </div>
</div>