<div class="tile is-vertical is-8">
    <div class="tile">
        <div class="tile is-parent is-vertical">
            <article class="tile is-child notification is-primary">
                <a href="/profile">Your Profile</a>
            </article>
            <article class="tile is-child notification is-primary">
                {{!-- <a href="/profile">Edit Profile</a> --}}
            </article>
        </div>
        <div class="tile is-parent is-vertical">
            <article class="tile is-child notification is-primary">
                <a href="/add-dog">Add Dog</a>
            </article>
            <article class="tile is-child notification is-primary">
                <a href="/results">matches</a>
            </article>
        </div>
    </div>
</div>