<div class="tile is-vertical is-8">
    <div class="tile">
        <div class="tile is-parent is-vertical has-text-centered">
            <article class="tile is-child notification is-primary">
                <a class="dash-buttons" href="/dashboard/new-post" >New Post</a>
            </article>
            <article class="tile is-child notification is-primary">
                
            </article>
        </div>
        <div class="tile is-parent is-vertical has-text-centered">
            <article class="tile is-child notification is-primary">
                <a class="dash-buttons" href="/dashboard/results" >Matches</a>
            </article>
            <article class="tile is-child notification is-primary">
                
            </article>
        </div> 
        {{!-- display users posts --}}
    </div>
</div>