<div class="tile is-ancestor is-flex is-justify-content-center">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-info">
          <p class="title has-text-centered">
              <a href="/dashboard/results">Matches</a>
          </p>
          <figure class="image is-4by2">
              <img src="https://vetstreet-brightspot.s3.amazonaws.com/b7/b2/6cf1fdf34af7b3dca1e58e630298/dogs-playing-at-dog-park-thinkstockphotos-168730981-335.jpg">
          </figure>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title has-text-centered">
              <a href="/dashboard/new-post">New Doggy Date</a>
          </p>
            <figure class="image is-256x256 p-1">
            <img src="https://www.dogsensepa.com/sites/default/files/styles/large/public/2019-12/image1%20%2891%29.png?itok=TslytPOT">
          </figure>
        </article>
      </div>
      <div class="tile is-parent">
      <article class="tile is-child notification is-info">
        <p class="title has-text-centered">
            <a href="/">Home</a>
        </p>
      </article>
    </div>
  </div>
    </div>
  </div>
</div>