    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
    <script type="text/javascript">
        (function() {
            emailjs.init('user_0qrkcuvbvVBCciRDXIACi');
        })();
    </script>
    <script type="text/javascript">
        window.onload = function() {
            document.getElementById('send-email').addEventListener('submit', function(event) {
                event.preventDefault();
                // these IDs from the previous steps
                emailjs.sendForm('plenty_of_pups', 'plenty_of_pups_welcome', this)
                    .then(function() {
                        console.log('SUCCESS!');
                    }, function(error) {
                        console.log('FAILED...', error);
                    });
            });
        }
    </script>

<div id="forms">
<h3 class="title is-3">Sign In Here</h3>
<div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="email" placeholder="Email">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="password" placeholder="Password">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
<div class="field">
    <label class="label">
                    <input type="checkbox" class="checkbox">
                    Remember me
                </label>
  <p class="control">
    <button class="button is-success">
      Login
    </button>
  </p>
   
</div>


<h3 class="title is-3">Sign Up Here</h3>
<div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="username" placeholder="Username">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="email" placeholder="Email">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="password" placeholder="Password">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control">
    <button class="button is-success">
      Sign Up
    </button>
  </p>
</div>
</div>
{{!-- <div class="container">
    <div class="row">
        <div class="is-half">
            <form class="login-form">
            <h2>Login here</h2>
            <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left">
                    <input id="email-login" type="email" name="email" class="input" placeholder="Enter your email">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelop"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input id="password-login" type="password" name="password" class="input" placeholder="Password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">
                    <input type="checkbox" class="checkbox">
                    Remember me
                </label>
            </div>
            <div class="field">
                <p class="control">
                    <a href="/dashboard"><button class="button is-success">Login</button></a>
                </p>
            </div>
        </div>
        </form> 
        <form class="signup-form" id="send-email">
        <div class="is-half">
            <h2>Register here</h2>
            <div class="field">
                <label class="label">Username</label>
                <div class="control has-icons-left">
                    <input id="username-signup" type="username" name="username" class="input" placeholder="Valid Username">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelop"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left">
                    <input id="email-signup" type="email" name="email" class="input" placeholder="Valid Email">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelop"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input id="password-signup" type="password" name="password" class="input" placeholder="Password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </div>
            </div>
             <div class="field">
                <label class="label">Confirm password</label>
                <div class="control">
                    <input type="password" name="passwordConfirm" class="input" placeholder="Password again">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </div>
            </div> 
            <div class="field">
                <p class="control">
                   <a href="/dashboard" ><button class="button is-success">Register now</button></a>
                </p>
            </div>
            
        </div>
        </form>
    </div>
</div> --}} 

<script src="/javascript/loginRegister.js"></script>