<section class="container">
    <div class="row">
        <div class="is-half">
    <h3 class="new-post-title">In Between</h3>
    {{!-- filter the posts with your dog characteristics  --}}
    <ul class="post-list">
        {{#each posts as |post|}}
        <li>
            {{> post-info post }}
        </li>
        {{/each}}
    </ul>
    </div>
    </div>
    <div><a href="/dashboard/"><button class="button is-success" type="submit">Back to Dash</button></a></div>
</section>