<div class="container">
    <div class="row">
        <div class="is-half">
            <h2>Login here</h2>
            <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left">
                    <input type="email" name="email" class="input" placeholder="Enter your first and last name here">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelop"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input type="password" name="password" class="input" placeholder="Enter your email here">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">
                    <input type="checkbox" class="checkbox">
                    Remember me
                </label>
            </div>
            <div class="field">
                <p class="control">
                    <button class="button is-success">Login</button>
                </p>
            </div>
        </div>
        <div class="is-half">
            <h2>Register here</h2>
            <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left">
                    <input type="email" name="email" class="input" placeholder="Enter your first and last name here">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelop"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input type="password" name="password" class="input" placeholder="Enter your email here">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">Confirm password</label>
                <div class="control">
                    <input type="password" name="passwordConfirm" class="input" placeholder="Enter your email here">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <p class="control">
                    <button class="button is-success">Register now</button>
                </p>
            </div>
        </div>
    </div>
</div>