<section>
    <h2>
        Your Matches
    </h2>
    {{!-- filter the posts with your dog characteristics  --}}
    <ul class="post-list">
        {{#each posts as |post|}}
        <li>
            {{> post-info.post }}
        </li>
        {{/each}}
    </ul>

</section>