<section class="container">
    <div class="row">
        <div class="is-half">
    <h2 class="label">
        Your Matches
    </h2>
    {{!-- filter the posts with your dog characteristics  --}}
    <ul class="post-list">
        {{#each posts as |post|}}
        <li>
            {{> post-info.post }}
        </li>
        {{/each}}
    </ul>
    </div>
    </div>

</section>