<section class="container">
    <div class="row">
        <div class="is-half">
    <h3 class="new-post-title">Filter by Your Dogs Energy Level</h3>
    <a href="/dashboard/high-energy"><button class="button is-success" type="submit">High Energy</button></a> 
    <a href="/dashboard/in-between"><button class="button is-success" type="submit">In Between</button></a>
    <a href="/dashboard/mellow"><button class="button is-success" type="submit">Mellow</button></a>
    {{!-- filter the posts with your dog characteristics  --}}
    <ul class="post-list">
        {{#each posts as |post|}}
        <li>
            {{> post-info post }}
        </li>
        {{/each}}
    </ul>
    </div>
    </div>

</section>