<section>
    <h2>
        Your Matches
    </h2>
    {{!-- This will be moved into a partial --}}
    <article class="dog-match">
        {{!-- somehow filter the results of the dogs to those that match the clicked on dog --}}
        <div>
        Dog: {{name}} Owner: {{person.name}} <br>
        Contact: {{person.email}}
        </div>
    </article>
</section>